/resources/good-morning/Data
/resources/sign-in/cache
/resources/sign-in/hitokoto
/resources/sign-in/user
/resources/image-custom/cache
/resources/throw-creep/avatar
/resources/vtuber-fortune/out
/resources/vtuber-fortune/user
